<h5>radar chart</h5>
<hr>
<div style="display: block">
    <canvas baseChart
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>

<!-- <div style="display: block">
    <canvas baseChart
            [datasets]="scatterData"
            [options]="scatterOptions"
            [chartType]="scatterType">
    </canvas>
</div> -->