<div>
    <button type="button" class="btn btn-light" (click)="loadBullet()">bullet chart</button>
    <button type="button" class="btn btn-light" (click)="loadRadar()">radar chart</button>
    <button type="button" class="btn btn-light" (click)="loadScatter()">scatter chart</button>
  </div>
  <hr>
  <div *ngIf="this.bulletChart">
    <chart [options]="options"></chart>
    <!-- <pre class="pt-3">model: <br>{{bulletOptions | json}}</pre> -->
  </div>
  <div *ngIf="this.radarChart">
    <!-- <nvd3 [options]="radarOptions" [data]="radarData"></nvd3> -->
    <p> ¯\_(ツ)_/¯ </p>
  </div>
  <div *ngIf="this.scatter">
    <p>scatter</p>
    <!-- <pre class="pt-3">model: <br>{{scatterChart | json}}</pre> -->
  </div>