<div>
    <button type="button" class="btn btn-light" (click)="loadBullet()">bullet chart</button>
    <button type="button" class="btn btn-light" (click)="loadRadar()">radar chart</button>
    <button type="button" class="btn btn-light" (click)="loadScatter()">scatter plot</button>
  </div>
  <hr>
  <div *ngIf="this.bulletChart">
    <chart [options]="options"></chart>
    <div id="container1"></div>
    <div id="container2"></div>
    <div id="container3"></div>
    <!-- <pre class="pt-3">model: <br>{{bulletOptions | json}}</pre> -->
  </div>
  <div *ngIf="this.radarChart">
    <chart [options]="radarOptions"></chart>
  </div>
  <div *ngIf="this.scatter">
    <chart [options]="scatterOptions"></chart>
    <!-- <pre class="pt-3">model: <br>{{scatterChart | json}}</pre> -->
  </div>